<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Login - GetBM</title>
    <link rel="stylesheet" href=" /static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="login-page">
    <div class="login-wrapper">
        <!-- Coluna Esquerda: Formulário -->
        <div class="login-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='image/GetBM_V2.svg') }}" alt="Logo GetBM">
            </div>
            <h2>Bem-vindo ao GetBM</h2>
            <p class="subtitle">Organize seus projetos com eficiência</p>
            <form id="login-form" class="login-form">
                <label for="usuario">Usuário</label>
                <input type="text" name="usuario" id="usuario" placeholder="Digite seu código de usuário" required>

                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>

                <div class="form-options">
                    <label><input type="checkbox" name="remember"> Lembrar-me</label>
                    <a href="#">Esqueci a senha</a>
                </div>

                <button type="submit">Entrar</button>
            </form>

        </div>

        <!-- Coluna Direita: Imagem e Frase -->
        <div class="login-visual">
            <div class="visual-text">
                <h3>Transforme ideias em projetos reais</h3>
                <p>Com o GetBM, sua equipe trabalha com mais foco e clareza.</p>
            </div>
            <img src="{{ url_for('static', filename='image/login_img.jpg') }}" alt="Ilustração GetBM">
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/auth/login.js') }}"></script>

</html>