/* ============================
   TABELAS - CONTAINER
============================ */
.table-card {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    box-sizing: border-box;
    overflow-x: auto;
}

/* ============================
   TABELAS - ESTRUTURA
============================ */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 12.5px;
}

/* ============================
   TABELAS - LINHAS
============================ */
table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* ============================
   TABELAS - CÉLULAS
============================ */
th,
td {
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
}
