<div id="sidebar" class="sidebar">
  <a href="{{ url_for('index_bp.index') }}">
    <i class="fas fa-home"></i> <span class="menu-text">Home</span>
  </a>
  <a href="{{ url_for('backlog_bp.backlog') }}">
    <i class="fas fa-clipboard-list"></i> <span class="menu-text">Backlog</span>
  </a>
  <a href="#">
    <i class="fas fa-sitemap"></i> <span class="menu-text">Organograma</span>
  </a>

  <div class="menu-group">
    <a href="#" class="has-submenu">
      <i class="fas fa-sliders-h"></i> <span class="menu-text">Parametrização</span>
    </a>
    <div class="submenu">
      <a href="{{ url_for('funcionalidades_bp.funcionalidades') }}">Funcionalidade</a>
      <a href="{{ url_for('status_bp.status') }}">Status</a>
      <a href="{{ url_for('categoria_bp.categoria') }}">Categoria</a>
      <a href="{{ url_for('sprint_bp.sprint') }}">Sprint</a>
    </div>
  </div>

  <div class="menu-group">
    <a href="#" class="has-submenu">
      <i class="fas fa-cogs"></i> <span class="menu-text">Configurações</span>
    </a>
    <div class="submenu">
      <a href="{{ url_for('projeto_bp.projeto') }}">Projeto</a>
      <a href="{{ url_for('usuario_bp.usuario') }}">Usuários</a>
    </div>
  </div>

  <div class="menu-usuario">
    <a href="#" class="has-submenu">
      <i class="fas fa-user-circle"></i> <span class="menu-text">Conta</span>
    </a>
    <div class="submenu">
      <a href="#">Perfil</a>
      <a href="#">Sair</a>
    </div>
  </div>
</div>
