<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Sistema{% endblock %}</title>
    <link rel="stylesheet" href=" /static/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="layout">
        {% include 'partials/menu.html' %}
        <div id="main">
            {% block breadcrumb %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

    </div>


    <!-- Modal fora do #main -->
    {% include 'partials/modal_user_story.html' %}
    {% include 'partials/modal_add_user.html' %}
    {% include 'partials/moda_perfil.html' %}

    <!-- Scripts padrão -->
    <!--<script src="{{ url_for('static', filename='js/partials/menu.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/partials/modal.js') }}"></script>



    <!-- Bloco opcional para scripts adicionais -->

    {% block scripts %}{% endblock %}
</body>

</html>